/*GENERAL RULES*/

#overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

#divOverlay{
  position: absolute;
  width: 80vw;
  background-color: rgba(255,255,255);
  border-radius: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#imgOverlay {
  width: 70%;
  border-radius: 2em;
}

@media screen and (min-width : 768px) {

/*GENERAL RULES*/

  #imgOverlay {
    width: 40%;
  }

  #buttonOverlay {
    font-size: 1.5em;
  }

  #divOverlay {
    width: 60vw;
  }

  #textOverlay {
    width: 60%;
  }
}

@media screen and (min-width : 900px) {

/*GENERAL RULES*/

  #imgOverlay {
    width: 30%;
  }

  #divOverlay {
    width: 40vw;
  }

  #textOverlay {
    width: 50%;
  }

}
